<mat-card class="column" [ngClass]="{'column': true, 'column-new': new}">
  <div class="wrapper" *ngIf="new">
    <button  mat-icon-button style="color: gold" (click)="newColumnDialog()">
      <mat-icon >add</mat-icon>
    </button>
  </div>
  
  <div class="columns-header" *ngIf="!new">
    <mat-icon style="color: indigo">view_headline</mat-icon>
    <div class="column-name flex-1">
      <mat-card-title style="margin-bottom: 0px;">{{column.name}}</mat-card-title>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" aria-label="Add task to {{column.name}}">
        <button mat-menu-item (click)="newTask()">
            <mat-icon style="color: darkcyan">add</mat-icon>
            <span>Add task</span>
        </button>
        <button mat-menu-item (click)="editColumnDialog()">
          <mat-icon >edit</mat-icon>
          <span>Edit column</span>
        </button>
        <hr/>
        <button mat-menu-item (click)="deleteColumnDialog()">
            <mat-icon style="color: orangered">delete</mat-icon>
            <span>Remove column</span>
        </button>
    </mat-menu>
  </div>
  <div class="tasks-wrapper" *ngIf="!new">
    <div
      cdkDropList
      id="column-{{column.id}}"
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="getConnectedColumns()"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
          <app-task class="example-box" *ngFor="let task of column.tasks" cdkDrag [task]="task"  (deleteRequest)="removeTask(task.id)"></app-task>
    </div>
  </div>
</mat-card>
