<div class="details-container" [class.hide]="isHidden==true">
    <header class="details-header">
        <div class="item">
            <mat-icon style="color: darkcyan;">event</mat-icon>
        </div>
        <div class="item grow">
            <div class="title">
                {{task.name}}
            </div> 
        </div>
        <button mat-flat-button class="item" (click)="editTaskDialog()">
            <mat-icon>edit</mat-icon>
            <!-- <span>Edit</span> -->
        </button>
        <button mat-flat-button class="item" (click)="deleteTaskDialog()">
            <mat-icon style="color: orangered"> delete</mat-icon>
            <!-- <span>Delete</span> -->
        </button>
    </header>


    <div class="details-content">
        <div class="row">
            <!-- <div style="display: flex; width: 10%; align-items: flex-start; padding-right: 1rem;">
                <div class="content-item">
                    <div class="custom-icon-container">
                        <mat-icon>grid_3x3</mat-icon>
                        <div class="field-description">
                            ID:
                        </div>
                    </div>
                    <div class="value">
                        <span>{{task.id}}</span>
                    </div>
                </div>
            </div> -->
            <div style="display: flex; flex-grow: 1;">
                <div class="content-item">
                    <div class="custom-icon-container">
                        <mat-icon>person</mat-icon>
                        <!-- <div class="field-description">
                            Creator: 
                        </div> -->
                    </div>
                    <div class="value">
                        <span>{{task.creator.userName}}</span>
                    </div>  
                </div>
            </div>
            <div style="display: flex;">
                <div class="content-item">
                    <div class="custom-icon-container">
                        <mat-icon>history</mat-icon>
                        <!-- <div class="field-description">
                            Created: 
                        </div> -->
                    </div>
                    <div class="value">
                        <span>{{task.createTime.split("T")[0]}}</span>
                         <!-- <br/> -->{{" "}}
                        <span>{{task.createTime.split("T")[1].split('.')[0]}}</span>
                    </div>  
                </div>
            </div>
            <div style="display: flex;">
                <div class="content-item">
                    <div class="custom-icon-container">
                        <mat-icon>update</mat-icon>
                        <!-- <div class="field-description">
                            Updated: 
                        </div> -->
                    </div>
                    <div class="value">
                        <span>{{task.updateTime.split("T")[0]}}</span>
                         <!-- <br/> -->{{" "}}
                        <span>{{task.updateTime.split("T")[1].split('.')[0]}}</span>
                    </div>  
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 1rem;">
            <div style="text-align: left; width: 100%; height: 100%;">
                <div style="font-weight: 500; font-size: 18px; border-bottom: solid black 1px; margin-bottom: 0.5rem; height: 40px; justify-content: flex-start; align-content: center; align-items: center; display: flex;">
                    Description
                </div>
                <div>{{task.description}}</div>
                
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 0.5rem;">
            <div style="display: flex; align-items:center; font-weight: 400; font-size: 18px; margin-bottom: 0.5rem; margin-right: 1rem;">
                Assigned users:
            </div>
            <div class="assigned-users">
                <div *ngFor="let user of task.assignees">
                    <div class="user-icon" aria-label="User" [matMenuTriggerFor]="menu" matTooltipPosition="above">
                        <mat-icon>person</mat-icon>
                        <div class="text-description">{{user.userName}}</div>
                    </div>
                    <mat-menu id="{{user.id}}" #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="dismissUser(user)">
                            <mat-icon style="color: orangered">person_remove</mat-icon>
                            <span>Dismiss {{user.userName}}</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="user-icon add" aria-label="Assign User" (click)="assignUserToTaskDialog()">
                    <mat-icon style="color: white">add</mat-icon>
                    <div class="text-description">Assign</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="display: flex; align-items:center; font-weight: 400; font-size: 18px; margin-bottom: 0.5rem; margin-right: 1rem;">
                Linked tasks:
            </div>
            <div class="linked-tasks">
                <div *ngFor="let link of links">
                    <div class="task-link-icon" [matMenuTriggerFor]="linkmenu" [class.block]="link.isBlocking()" [class.relate]="link.isRelating()" aria-label="Task Link" >
                        <mat-icon *ngIf="link.isBlocking()">block</mat-icon>
                        <mat-icon *ngIf="link.isRelating()">link</mat-icon>
                        <div class="text-description" style="margin: 0;">{{link.fromTask.name}}</div>
                        <mat-icon style="color:black">east</mat-icon>
                        <div class="text-description">{{link.toTask.name}}</div>
                    </div>
                    <mat-menu id="{{link.id}}" #linkmenu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="removeLink(link)">
                            <mat-icon style="color: orangered">remove</mat-icon>
                            <span>Remove Link</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="task-link-icon add" aria-label="Link task" (click)="newLinkDialog()">
                    <mat-icon style="color: white">add</mat-icon>
                    <div class="text-description">Link</div>
                </div>
            </div>
        </div>


    </div>
</div>

