<div class="form-header">
  <div class="item">
    <mat-icon style="color: orangered;">delete</mat-icon>
  </div>
  <div class="item">
    Delete column:
  </div>
  <div class="item grow">
    <span style="font-weight: 300; color: orangered; padding-left: 1rem;">
      {{column.name}}
    </span>
  </div>
</div>
<div class="form-content">
  <p mat-dialog-content style="color: orangered; font-weight: 400; display: flex; justify-content: center;" >Warning: This action cannot be undone!</p>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="undefined">Cancel</button>
    <button mat-flat-button (click)="closeDialog()" style="background-color: orangered; color: white;">Delete</button>
  </mat-dialog-actions>
</div>
