<mat-card>
    <mat-grid-list cols="12">
        <mat-grid-tile mat-card-title [colspan]="1" [rowspan]="1">
            <mat-icon style="color: darkcyan;">event</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile mat-card-title [colspan]="10" [rowspan]="1">
            <div class="title">
                {{task.name}}
            </div> 
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="assignUserToTaskDialog()">
                    <mat-icon style="color: darkcyan">person_add</mat-icon>
                    <span>Assign user</span>
                </button>
                <!-- <button mat-menu-item (click)="dismissUserDialog()">
                    <mat-icon style="color: orangered">person_remove</mat-icon>
                    <span>Dismiss user</span>
                </button> -->
                <button mat-menu-item (click)="editTaskDialog()">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <hr/>
                <button mat-menu-item (click)="deleteTaskDialog()">
                    <mat-icon style="color: orangered"> delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </mat-grid-tile>

        <mat-grid-tile mat-card-subtitle [colspan]="1" [rowspan]="1"> </mat-grid-tile>
        <mat-grid-tile mat-card-subtitle [colspan]="11" [rowspan]="1">
            <div style="text-align: left; width: 100%; height: 100%;">
                {{"#"+task.id+" created by"}}
                <a class="user-href" href="/tasks/{{task.id}}">
                    {{task.creator.userName||"User"}}
                </a>
            </div>
            
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
        <mat-grid-tile [colspan]="11" [rowspan]="3">
            <div style="text-align: left; width: 100%; height: 100%;">
                {{task.description}}
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sit laboriosam vero magni dolorum expedita qui recusandae soluta sint odit ad vel, reiciendis eius commodi non ipsam tempore nobis fugit. -->
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="assigned-users">
        <div class="user-icon add" matTooltip="Assign User" matTooltipPosition="above" aria-label="Assign User" (click)="assignUserToTaskDialog()" *ngIf="task.assignees.length<1">
            <mat-icon style="color: white">person_add</mat-icon>
        </div>
        <div *ngFor="let user of task.assignees">
            <div class="user-icon" matTooltip="{{user.userName}}" matTooltipPosition="above" aria-label="User" [matMenuTriggerFor]="menu">
                <mat-icon style="color: black;">person</mat-icon>
            </div>
            <mat-menu id="{{user.id}}" #menu="matMenu" xPosition="after">
                <p style="align-items: center; text-align: center; margin: 1rem 0;">{{user.userName}}</p>
                <hr/>
                <button mat-menu-item (click)="dismissUser(user)">
                    <mat-icon style="color: orangered">person_remove</mat-icon>
                    <span>Dismiss User</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-card>
