<div class="form-wrapper">
  <div class="form-header">
    <div class="item">
      <mat-icon style="color: darkcyan;">person_add</mat-icon>
    </div>
    <div class="item grow">
      Assign user to task
    </div>
    
  </div>
  <div class="form-content">
    <div style="align-content: center; display: flex; align-items: center; justify-content: center;"  *ngIf="loadingData">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  
    <div *ngIf="!loadingData">
      <form class="full-width" style="margin: 0;">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Assignee</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredUsers | async" [value]="option">
                {{option.userName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
        <button mat-flat-button (click)="closeDialog()" style="background-color: darkcyan; color: white" >Assign</button>
    </mat-dialog-actions>
  </div>  
</div>

